/*color*/
.black {
  color: #333;
  font-weight: bold;
}
.gray {
  color: gray;
}
.light-gray {
  color: #999;
}
.red {
  color: red;
}
.green {
  color: green;
}
.littleGreen {
  color: #45a1ff;
}
.orange {
  color: orange;
}
.darkorange {
  color: #ff6600;
}
.blue {
  color: blue;
}
.violet {
  color: violet;
}
.white {
  color: white;
}
.firebrick {
  color: firebrick;
}
.lightskyblue {
  color: lightskyblue;
}
.status-success {
  color: green;
}
.status-fail {
  color: red;
}
.status-verity {
  color: orange;
}
